/* ALTERAÇÕES ANTIGAS */
.foto-perfil {
    max-width: 100%;
    border-radius: 50%;
}

.corPrimaria {
    background-color: #51C47F;
}

.corSecundaria {
    background-color: #0C0C2C;
}

p {
    color: black !important;
}

.icones {
    padding-left: 10px;

}

.titulosBrancos {
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;

}

.titulosVerdes {
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #51C47F;

}

.textoBranco {
    color: white !important;

}

.jumbotron {
    margin-bottom: 0px;
}

.textoFooter {
    margin: 0px;
    padding-top: 15px;
}

h3 {
    padding-top: 60px;
}

h4 {
    padding-bottom: 60px;
    margin-bottom: 0px;
}

html {
    scroll-behavior: smooth;
}

.content {
    display: flex;
    justify-content: center;
}

.contato {
    width: 100%;
    max-width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
}

.field {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

h3 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
}

footer {
    font-size: 1.2rem;
    padding: 1em;
    font-weight: 600;
}

a {
    width: 100%;
}

.contact-form {
    border-radius: 20px;

}

p {
    text-align: center;
    color: #555555 !important;
}



.navbar-brand {
    padding-right: 450px;
}


/* ALTERAÇÕES RECENTES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#contato {
    margin-bottom: 3rem;
    margin: 1em;
}

.contato {
    font-weight: 600;
}

#button-enviar {
    padding: 0.7em;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#icon {
    font-size: 2rem;
    transition: all .45s ease;
}

#icon:hover {
    color: #0C0C2C;
    transform: scale(1.2);
}

.button {
    display: inline-block;
    padding: 12px 28px;
    background: #0C0C2C;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    max-width: 200px;
    transition: all .45s ease;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
}

.button:hover {
    transition: all .45s ease;
    transform: scale(0.95);
    text-decoration: none;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #0C0C2C;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
}

nav ul li a.active,
nav ul li a:hover {
    text-decoration: none;
    transition: all .45s ease;
}

nav .menu-btn i {
    color: #fff;
    display: none;
    cursor: pointer;
}

#botao-hover:hover {
    background-color: #0C0C2C;
    color: #fff;
    transition: all .45s ease;

}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #0C0C2C;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        z-index: 1;
        transition: all .45s ease;
    }

    nav ul.open {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 50px 0;
    }

    nav ul li a {
        font-size: 23px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: #51C47F;
        text-decoration: none;
    }
}

#inicial {
    border-radius: 0;
}

#sobre {
    border-radius: 0;
}